a { text-decoration: none; color:black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: n18e; }
a:hover, a:active { text-decoration: none; }
*{
    margin: 0px;
    padding: 0px;
   /* background-color: #f1efe7;*/
}

body {
    font-family: Airbnb Cereal App ;
    margin: 0px;
    padding: 0px;
}
h1{
    margin-top: 50px;
    font-family: 'Source Serif Pro';
    text-align: center;
    letter-spacing: 4px;
    padding: 10px;
}

.projects {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.project p {
    margin-top: 5px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #ffa185;
}




.topnav a {
    color: black;
    font-weight: 800;
    margin-right: 50px;
    float: right;
    padding: 0px -40px;
    text-decoration: none;
    font-size: 14px;  
    font-family: "Airbnb Cereal App Book";  
  }
  .topnav a:hover {
    color: coral; 
  }
  h3{
    margin-top: 50px;
    font-family: 'Airbnb Cereal App';
    padding: 0px 100px;
    color:#ffa185;
    padding: 0px 100px;
    margin-bottom:-10px;
    margin-left: 100px;
    margin-right: 100px; 
}